* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    & .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #222;
        color: #fff;
        padding: 10px;
        border-radius: 4px;

    }

}